apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      containers:
        - image: sissbruecker/linkding:1.44.1
          name: linkding
          ports: 
            - containerPort: 9090

          envFrom:
            # - configMapRef:
            #     name: linkding-configmap
            - secretRef:
                name: linkding-container-env

          securityContext:
            fsGroup: 33
            runAsUser: 33
            runAsGroup: 33
            allowPrivilegeEscalation: false

          volumeMounts:
            - mountPath: /etc/linkding/data
              name: linkding-data

      restartPolicy: Always

      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-pvc
